* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #222;
    overflow-x: hidden;
}

main {
    margin-top: 110px;
}

@media (max-width: 991px) {
    main {
        margin-top: 260px;
    }
    .homepage-nav {
        display: none;
    }
}


.discussion-list li {
    padding: 20px 15px 15px 15px;
    border-bottom: 1px solid #9f9f9f24;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.discussion-list li:hover {
    background-color: #9f9f9f24;
    transition: all 0.2s ease-in-out;
}