.post-details-body{
    margin-top: 3.5rem; 
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media (min-width: 768px) and (max-width: 991px) {
    .post-details-body{
        margin-top: 12rem; 
        padding-top: 1rem;
    }
}

@media (max-width: 767px) {
    .post-details-body{
        margin-top: 12rem; 
        padding-top: 2rem;
    }
}

.header {
    background-color: var(--bs-warning-bg-subtle); /* Using Bootstrap variable for background color */
    color: var(--bs-warning-rgb); /* Default text color */
    padding: 60px 0; /* Padding for aesthetic spacing */
    text-align: center; /* Centering the title text */
}

.post-title {
    text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.304); /* Add shadow effect */
}

.mt-2{
    margin-top: 2rem; 
}

.mt-0 {
    margin-top: 0;
}

.author-content {
    max-height: 300px; /* Set maximum height, scroll bar will appear if exceeded */
    overflow-y: auto; /* Show vertical scroll bar when content exceeds container */
}

.comment-content{
    /* max-height: 100px; Set maximum height, scroll bar will appear if exceeded */
    overflow-y: auto;
}

.sticky-btn {
    position: relative;
    z-index: 1000;
    margin-top: 2rem;
}

.sticky {
    position: fixed;
    top: 76px;
    z-index: 1000;
}

.form-control {
    height: auto;
    border-radius: 7px;
    background-color: #fff;
    border: 1px solid #ccc;
}

#body {
    height: 220px;
}

.commentbtn {
    text-align: center;
}