{% extends "base.html" %}

{% block title %}
{% if title %}
<title>{{ title }} - Blog</title>
{% else %}
<title>Welcome to Blog!</title>
{% endif %}
{% endblock %}


{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/new-discussion.css') }}" />
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
{% endblock %}


{% block main %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mb-5"> 
                <div class="card-body mx-3">
                    <img alt="avatar" src="{{ user[0].avatar }}" class="rounded-circle mt-2 mb-1 mx-auto d-block" style="width: 50px; height: 50px;"/> 
                    <form>
                        <div class="form-group mb-4"> 
                            <label for="tag" class="mb-1">Choose a Tag:</label>
                            <select name="tag" id="tag" class="form-control w-25">
                                <option value="tag1">tag1</option>
                                <option value="tag2">tag2</option>
                                <option value="tag3">tag3</option>
                            </select>
                        </div>
                        <div class="form-group mb-4">
                            <label for="title" class="mb-1">Discussion Title:</label>
                            <input type="text" id="title" name="title" class="form-control" placeholder="Discussion Title" required>
                        </div>
                        <div class="form-group mb-4">
                            <label for="editor" class="mb-1">Write a Post:</label>
                            <div id="editor" class="form-control">
                            </div>
                        </div>
                        <div class="form-group postbtn">
                            <button type="submit" class="btn btn-secondary bg-gradient mb-2" id="newpostBtn">Post Discussion</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="{{ url_for('static', filename='js/new-discussion.js') }}"></script>
{% endblock %}