{% extends "base.html" %}


{% block title %}
{% if title %}
<title>{{ title }} - Blog</title>
{% else %}
<title>Welcome to Blog!</title>
{% endif %}
{% endblock %}


{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/personal-profile.css') }}">
{% endblock %}


{% block main %}
<!-- self introduction part -->

<div class="container-fluid self-intro">
    <div class="row clearfix background-brown">
        <div class="col-md-2 column">
        </div>
        <div class="col-md-2 column">
            <img alt="Profile Picture" src="{{ user.profile_picture_url | default('v3/default3.jpg') }}" class="img-circle" />
        </div>
        <div class="col-md-5 column">
            <h3 class="text-left">
                {{ user.username }}
            </h3>
            <div>
                <!-- Example of badges: assuming the backend provides user.badges -->
                {% if user.badges %}
                <div class="badges">
                    {% for badge in user.badges %}
                    <span class="badge badge-primary">{{ badge }}</span>
                    {% endfor %}
                </div>
                {% endif %}
                <ul class="list-inline list-style-none">
                    <li class="list-inline-item">
                        <p>Joined {{ user.join_date | date('M d, Y') }}</p>
                    </li>
                    <li class="list-inline-item">
                        <p>{{ user.best_answers }} best answers</p>
                    </li>
                    <li class="list-inline-item">
                        <p>{{ user.points }} points</p>
                    </li>
                </ul>
            </div>
            <!-- Scrollable area -->
            <div class="overflow-auto" style="max-height: 100px;">
                <p class="text-left">
                    {{ user.bio | default('No biography provided.') }}
                </p>
            </div>
        </div>
        <div class="col-md-3 column">
        </div>
    </div>
</div>
<!-- Explanation
Image Path: The default filter is used to provide a fallback image if user.profile_picture_url is undefined or empty.
Date Formatting: The date filter formats the user's join date. Make sure you have installed and configured the Jinja2 date filter in your Flask app.
Badge Rendering: Assuming user.badges contains a list of badges a user has earned, they are rendered using a loop as Bootstrap badges.
Biography Section: user.bio is included and the default filter provides a fallback text in case the field is empty. -->

<!-- navbar -->
<div class="container">
    <div class="row clearfix">
        <!-- Sidebar navigation column -->
        <div class="personal-profile-nav col-md-3 column">
            <ul class="nav flex-column mt-4 mx-5">
                <!-- Navigation item for Posts -->
                <li class="nav-item mb-1">
                    <a class="nav-link text-secondary hover-orange" href="#">
                        <!-- Placeholder SVG icon for Posts -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-nintendo-switch" viewBox="0 0 16 16">
                            <!-- SVG path is omitted for brevity -->
                        </svg>
                        <span class="Button-label">Posts</span>
                        <!-- Dynamically displays the count of posts -->
                        <span class="Button-badge">{{ post_count }}</span>
                    </a>
                </li>

                <!-- Navigation item for Discussions -->
                <li class="nav-item mb-1">
                    <a class="nav-link text-secondary" href="#">
                        <!-- Placeholder SVG icon for Discussions -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-nintendo-switch" viewBox="0 0 16 16">
                            <!-- SVG path is omitted for brevity -->
                        </svg>
                        <span class="Button-label">Discussions</span>
                        <!-- Dynamically displays the count of discussions -->
                        <span class="Button-badge">{{ discussion_count }}</span>
                    </a>
                </li>

                <!-- Navigation item for Likes -->
                <li class="nav-item mb-1">
                    <a class="nav-link text-secondary" href="#">
                        <!-- Placeholder SVG icon for Likes -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-nintendo-switch" viewBox="0 0 16 16">
                            <!-- SVG path is omitted for brevity -->
                        </svg>
                        <span class="Button-label">Likes</span>
                        <!-- Dynamically displays the count of likes -->
                        <span class="Button-badge">{{ like_count }}</span>
                    </a>
                </li>

                <!-- Navigation item for Votes -->
                <li class="nav-item mb-1">
                    <a class="nav-link text-secondary" href="#">
                        <!-- Placeholder SVG icon for Votes -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-nintendo-switch" viewBox="0 0 16 16">
                            <!-- SVG path is omitted for brevity -->
                        </svg>
                        <span class="Button-label">Votes</span>
                        <!-- Dynamically displays the count of votes -->
                        <span class="Button-badge">{{ vote_count }}</span>
                    </a>
                </li>

                <!-- Navigation item for Mentions -->
                <li class="nav-item mb-1">
                    <a class="nav-link text-secondary" href="#">
                        <!-- Placeholder SVG icon for Mentions -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-nintendo-switch" viewBox="0 0 16 16">
                            <!-- SVG path is omitted for brevity -->
                        </svg>
                        <span class="Button-label">Mentions</span>
                        <!-- Dynamically displays the count of mentions -->
                        <span class="Button-badge">{{ mention_count }}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
 <!-- navbar explanation
List of Variables to be Passed from the Backend
post_count:
Description: Represents the total number of posts available or created by the user. This variable is used to display a badge next to the "Posts" link in the navigation bar.
Type: Integer
discussion_count:
Description: Indicates the total number of discussions initiated or participated in by the user. This count is displayed next to the "Discussions" link.
Type: Integer
like_count:
Description: Shows the total number of likes received by the user across their posts or interactions. This number is shown next to the "Likes" link.
Type: Integer
vote_count:
Description: Reflects the total number of votes the user has cast or received in various polls or voting interactions on the platform. Displayed next to the "Votes" link.
Type: Integer
mention_count:
Description: Counts how many times the user has been mentioned across different posts or comments within the platform. This is shown next to the "Mentions" link.
Type: Integer 
-->


        <!-- post-list -->
        <div class="col-md-9 column">
            <div class="row clearfix">
                <div class="col-md-10 column row">
                    <!-- beginning -->
                    <div class="col-md-11 column row clearfix list-margin border-0 border-bottom">
                        <p class=" text-secondary">title of the post</p>
                        <div class="col-md-1 column ">
                            <img alt="50x50" src="https://placehold.co/50" class="rounded-circle" />
                        </div>
                        <div class="col-md-11">
                            <ul class="list-inline list-style-none">
                                <li class="h6 list-inline-item list-style-none">Joel</li>
                                <li class="text-secondary list-inline-item">an hour ago</li>
                                <li class="text-secondary list-inline-item">Edited</li>
                            </ul>

                            <h5>
                                Title-title-title-title
                            </h5>

                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at ligula nec metus
                                dictum blandit ac id tellus. Fusce sed magna vitae turpis ultrices malesuada. In hac
                                habitasse platea dictumst...
                            </p>
                            <div class="list-reply-margin">
                                <p>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                                        fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z" />
                                    </svg> Jessie replied to this.
                                </p>
                                <!-- 引用的icon具体再查 -->
                                <p>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                                        fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z" />
                                    </svg> May likes this.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- ending -->


                    <div class="col-md-11 column row clearfix list-margin border-0 border-bottom">
                        <p class=" text-secondary">title of the post</p>
                        <div class="col-md-1 column ">
                            <img alt="50x50" src="https://placehold.co/50" class="rounded-circle" />
                        </div>
                        <div class="col-md-11">
                            <ul class="list-inline list-style-none">
                                <li class="h6 list-inline-item list-style-none">Joel</li>
                                <li class="text-secondary list-inline-item">an hour ago</li>
                                <li class="text-secondary list-inline-item">Edited</li>
                            </ul>

                            <h5>
                                Title-title-title-title
                            </h5>

                            <p>
                                <button class="rounded border-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                                        fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z" />
                                    </svg>
                                    reply to David</button>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at ligula nec metus
                                dictum blandit ac id tellus. Fusce sed magna vitae turpis ultrices malesuada. In hac
                                habitasse platea dictumst...
                            </p>
                            <div class="list-reply-margin">
                                <p>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                                        fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z" />
                                    </svg> Jessie replied to this.
                                </p>
                                <!-- 引用的icon具体再查 -->
                                <p>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                                        fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z" />
                                    </svg> May likes this.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-11 column row clearfix list-margin border-0 border-bottom">
                        <p class=" text-secondary">title of the post</p>
                        <div class="col-md-1 column ">
                            <img alt="50x50" src="https://placehold.co/50" class="rounded-circle" />
                        </div>
                        <div class="col-md-11">
                            <ul class="list-inline list-style-none">
                                <li class="h6 list-inline-item list-style-none">Joel</li>
                                <li class="text-secondary list-inline-item">an hour ago</li>
                                <li class="text-secondary list-inline-item">Edited</li>
                            </ul>

                            <h5>
                                Title-title-title-title
                            </h5>

                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at ligula nec metus
                                dictum blandit ac id tellus. Fusce sed magna vitae turpis ultrices malesuada. In hac
                                habitasse platea dictumst...
                            </p>
                            <div class="list-reply-margin">
                                <p>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                                        fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z" />
                                    </svg> Jessie replied to this.
                                </p>
                                <!-- 引用的icon具体再查 -->
                                <p>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                                        fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z" />
                                    </svg> May likes this.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- ending -->


                    <div class="col-md-11 column row clearfix list-margin border-0 border-bottom">
                        <p class=" text-secondary">title of the post</p>
                        <div class="col-md-1 column ">
                            <img alt="50x50" src="https://placehold.co/50" class="rounded-circle" />
                        </div>
                        <div class="col-md-11">
                            <ul class="list-inline list-style-none">
                                <li class="h6 list-inline-item list-style-none">Joel</li>
                                <li class="text-secondary list-inline-item">an hour ago</li>
                                <li class="text-secondary list-inline-item">Edited</li>
                            </ul>

                            <h5>
                                Title-title-title-title
                            </h5>

                            <p>
                                <button class="rounded border-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                                        fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z" />
                                    </svg>
                                    reply to David</button>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at ligula nec metus
                                dictum blandit ac id tellus. Fusce sed magna vitae turpis ultrices malesuada. In hac
                                habitasse platea dictumst...
                            </p>
                            <div class="list-reply-margin">
                                <p>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                                        fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z" />
                                    </svg> Jessie replied to this.
                                </p>
                                <!-- 引用的icon具体再查 -->
                                <p>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                                        fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z" />
                                    </svg> May likes this.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 column">
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block script %}
{% endblock %}