{% extends "base.html" %}

{% block title %}
{% if title %}
<title>{{ title }} - Blog</title>
{% else %}
<title>Welcome to Blog!</title>
{% endif %}
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
{% endblock %}


{% block main %}
<!-- ranking-list -->
<div class="col-md-9 column">
  <div class="row clearfix">
    {% for user in users %}
    <div class="col-md-10 column row">
      <!-- beginning -->
      <div class="col-md-11 column row clearfix list-margin border-0 border-bottom">
        <span class="text-secondary">{{ loop.index }}</span>
        <div class="col-md-1 column">
          <!-- Image link points to the personal profile page -->

          <img alt="Profile Picture" src="{{ user.profile_picture }}" class="rounded-circle" />

        </div>
        <div class="col-md-11">
          <ul class="list-inline">
            <li class="h6 list-inline-item">{{ user.username }}</li>
            <li class="text-secondary list-inline-item">
              {{ user.credit }} credits
            </li>
            <li class="text-secondary list-inline-item">
              {{ user.likes }} likes
            </li>
            <li class="text-secondary list-inline-item">
              {{ user.collections }} collections
            </li>
          </ul>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</div>
</div>
{% endblock %}